@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --yellow: #ffba00;
  --black: #282828;
  --red: red;
}

@font-face {
  font-family: Moderniz;
  src: url(/font/Moderniz.otf);
}

/* width */
*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", serif;
  margin: 0;
  scroll: smooth;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--yellow);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.text-yellow {
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.moderniz {
  font-family: Moderniz;
}

.poppins {
  font-family: Moderniz;
}

section {
  /* position: relative; */
  width: 100%;
  overflow-x: hidden;
}

.btn-success {
  background-color: #25d366;
  outline: none; /* Menghapus outline */
  border: none;
  font-size: 1.5rem;
}

.problem-list {
  list-style-type: none; /* Hilangkan bullet bawaan */
  padding: 0;
}

.problem-list li {
  position: relative;
  padding-left: 25px; /* Memberi ruang untuk tanda silang */
  margin-bottom: 10px;
}

.problem-list li::before {
  content: "✖"; /* Tanda silang */
  color: #ff0000ff;
  font-weight: bold;
  position: absolute;
  left: 0;
}

/* Gaya tambahan untuk carousel */
.carousel-item img {
  object-fit: contain; /* Pastikan gambar menyesuaikan ukuran dengan carousel */
  max-height: 600px;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Bubble WhatsApp utama */
.whatsapp-bubble {
  display: flex;
  align-items: center;
  background-color: #25d366;
  padding: 10px 20px;
  border-radius: 30px; /* Membuat bentuk rounded */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: shake 2s infinite;
  transition: all 0.3s ease;
  text-decoration: none;
}

.whatsapp-bubble:hover {
  background-color: #22b859; /* Warna hijau lebih gelap saat hover */
}

.whatsapp-bubble img {
  width: 35px;
  height: 35px;
  margin-right: 10px; /* Jarak antara ikon dan teks */
}

.whatsapp-bubble .whatsapp-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.seru {
  display: inline-block;
  animation: shake 2s infinite;
}

/* Keyframes untuk animasi getar */
@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(2px, 0);
  }
}

/* Bubble chat */
.whatsapp-chat {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 220px;
}

/* Segitiga kecil di bawah bubble chat */
.whatsapp-chat::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
}

.whatsapp-chat a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
}

.whatsapp-chat a:hover {
  text-decoration: none;
}

.whatsapp-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#hook {
  background-image: url("assets/hook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#hook .headline-4 {
  font-size: clamp(1rem, 4vw, 1.45rem);
}

#hook .headline-2 {
  font-size: clamp(1rem, 4vw, 3rem);
}

.hook-logo {
  width: clamp(150px, 25vw, 175px);
}

.hook-uang {
  width: clamp(120px, 25vw, 250px);
}

@media (max-width: 100px) {
  #hook {
    padding: 80px 0;
  }
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#welcome {
  background-image: url("assets/BG 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#welcome .welcome-img {
  width: clamp(250px, 45vw, 600px);
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#masalah {
  width: 100%;
  background-color: white;
  border-top-left-radius: 40px; /* Border radius atas kiri */
  border-top-right-radius: 40px;
  position: relative;
  overflow: hidden;
}

.masalah-card {
  position: relative;
}

.img-problems {
  width: 110px;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#masalah-2 {
  background: linear-gradient(180deg, white, var(--yellow));
  height: min-content;
  position: relative;
  overflow: hidden;

}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#solution {
  position: relative;
  height: min-content;
  overflow: hidden;
}

#solution .welcome-img-2 {
  width: clamp(250px, 45vw, 600px);
}

.solution-img {
  width: clamp(100px, 25vw, 200px);
}

.owner {
  width: clamp(250px, 25vw, 300px);
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
#kenapa {
  margin-top: 10px;
  
}

.why-img {
  width: clamp(250px, 30vw, 500px);
}

.kenapa-card {
  background-color: white;
  width: 100%;
  border-top-left-radius: clamp(20px, 5vw, 40px); /* Border radius atas kiri */
  border-top-right-radius: clamp(20px, 5vw, 40px);
  min-height: 100vh;
  position: relative;
  z-index: 3;
  padding-top: 50px;
  background: linear-gradient(180deg, white, var(--yellow));
}

.kenapa-image-mini {
  width: clamp(100px, 25vw, 200px);
 }

 .why-list  {
  list-style: none; /* Hilangkan bullet bawaan */
  padding: 0;
}
.why-list li {
  position: relative;
  padding-left: 30px; /* Beri ruang untuk ikon check.why-list list */
  margin-bottom: 10px;
}
.why-list li::before {
  content: "✔"; /* Simbol checklist */
  color: green; /* Warna hijau */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.2;
}
